<ul *ngIf="pokemon" class="mb-4 shadow bg-white rounded">
    <section>
        <img class="pokemonImage" [src]="getImage" [alt]="pokemon.name" />
    </section>
    <span class="pokemonName">{{ pokemon.name }}</span>
    <app-catch-button [pokemonName]="pokemon.name"></app-catch-button>
</ul>