<nav class="bg-green-300 flex justify-between items-center p-4 sticky top-0 w-full z-50">
    <span class="font-bold">Ng Pokemon</span>
    <ng-container *ngIf="trainer !== undefined"> 
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/pokemon">Pokemons</a>
            </li>
            <li class="px-4">
                <a routerLink="/profile">Profile</a>
            </li>
            <li class="px-4">
                <button routerLink="/login" onclick="sessionStorage.clear()">Logout</button>
            </li>
        </ul>
    </ng-container>
</nav> 