<header class="container mx-auto rounded p-2 bg-white">
    <h1 class="text-3xl"> Welcome, {{ trainer?trainer.username: "" }}</h1>
</header>
<main class="container mx-auto p-4">
    <h4 class="text-3xl">Your pokemon</h4>
    <app-pokemon-list [pokemons]="pokemonCollection"></app-pokemon-list>
</main>