<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset>
        <label for="username">Username:  </label>
        <input type="text" 
                ngModel
                #username="ngModel"
                name="username" id="username" 
                class="border border-slate-300 p-1 rounded w-f" 
                placeholder="Enter username"/>
    </fieldset>

    <button type="submit" class="bg-green-300 p-2 rounded"> Login </button>
</form>