<aside class="relative bottom-0 rounded">
    <button 
        (click)="onCatchClick()" >
        <ng-container *ngIf="isCaught; then caught else notCaught"></ng-container>
        <ng-template #caught>
            <span class="pokeballImage border bg-red-500 rounded flex center">Release</span>
        </ng-template>
        <ng-template #notCaught>
            <span class="catchButton border bg-green-300 rounded flex center">Catch!</span>
        </ng-template>
        
    </button>
</aside> 