/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-blue {
    background-color: rgb(0, 60, 255);
    background: url('https://media2.giphy.com/media/i1WOZqCGWdLMI/giphy.gif') no-repeat center center fixed; 
    background-size: cover;
}